* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}
header {
  text-align: left;
  background-color: #16416b;
  color: white;
  padding: 2.5rem;
}

.submenu {
  display: none;
  padding: 1rem;
}

.menu-dropdown:hover .submenu {
  display: block;
}

.News {
  background-color: steelblue;
  padding: 2rem;
  margin-top: 1rem;
}
.News h1 {
  margin-right: 1rem;
  font-size: 2rem;
  color: white;
}
.News h1,
.News img {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.6rem;
}
.News h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

.News p {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}
.News p:first-of-type {
  margin-bottom: 3rem;
}
.News p:last-of-type {
  text-align: center;
}

.inland,
.ausland {
  background-color: white;
  color: black;
  padding-top: 5.0rem;
}

.inland h1,
.ausland h1 {
  font-size: 24px;
}

.inland h2,
.ausland h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

.inland p,
.ausland p {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

.submenu a {
  color: white;
}

nav ul {
  list-style: none;
  text-align: left;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.Putin {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  background-color: lightblue;
  border-left: 10px solid dodgerblue;
}
.Putin img,
.Putin p:first-of-type {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
}

.Putin img {
  max-height: 150px;
}

.Putin p:first-of-type {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.Putin p {
  display: flex;
}

.Putin p:last-of-type {
  display: block;
  margin-top: auto;
  display: inline-block;
}

.Adresse {
  font-style: italic;
  border-top: 1px solid #000;
  padding-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #16416b;
  color: white;
  padding: 10px 0;
  text-align: left;
}
footer p {
  color: white;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 10px;
}

footer nav ul li a {
  text-decoration: none;
  color: white;
}
